<div class="container-fluid p-4  text-black text-center " style="background-color:#04B2E5">
  
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  
  <main>
    <section class="banner">
      <h2>Bienvenidos a Abarrotes Monse</h2>
      <p>¡Descubre nuestros productos frescos y de calidad!</p>
      <a href="#" class="boton">Ver productos</a>
    </section>
    
    <section class="categorias">
      <h3>Categorías populares</h3>
      <div class="categoria">
        <img src="https://assets.eleventa.com/assets/blog/productos-abrir-tienda-abarrotes.webp" width="900px">
        <h4>Despensa</h4>
      </div>
      <div class="categoria">
        <img src="https://images.hola.com/imagenes/estar-bien/20180629125821/el-significado-de-los-colores-de-las-frutas-cs/0-577-509/frutascolores-t.jpg?tx=w_680" width="900px">
        <h4>Frutas & Verduras</h4>
      </div>
      <div class="categoria">
        <img src="https://cdn1.matadornetwork.com/blogs/2/2018/12/Botanas-mexicanas-comida-mexico.jpg" width="900px">
        <h4>Botanas</h4>
      </div>
    </section>
  </main>
  
  <footer>
    <p>&copy; 2023 Tienda de Abarrotes Monse. Todos los derechos reservados.</p>
  </footer>
</div>

